//dark shades of primary color
$primary-0: hsl(40, 70%, 10%);
$primary-1: hsl(40, 70%, 20%);
$primary-2: hsl(40, 70%, 30%);
$primary-3: hsl(40, 70%, 40%);
$primary-4: hsl(40, 70%, 50%); //The primary color
$primary-5: hsl(40, 70%, 60%);
$primary-6: hsl(40, 70%, 70%);
$primary-7: hsl(40, 70%, 80%);
$primary-8: hsl(40, 70%, 90%);
$primary-9: hsl(40, 70%, 95%);
//lighter shades of primary color
//dark shades of seconday color
$seconday-0: hsl(20, 70%, 10%);
$seconday-1: hsl(20, 70%, 20%);
$seconday-2: hsl(20, 70%, 30%);
$seconday-3: hsl(20, 70%, 40%);
$seconday-4: hsl(20, 70%, 50%); //The seconday color
$seconday-5: hsl(20, 70%, 60%);
$seconday-6: hsl(20, 70%, 70%);
$seconday-7: hsl(20, 70%, 80%);
$seconday-8: hsl(20, 70%, 90%);
$seconday-9: hsl(20, 70%, 95%);
//lighter shades of seconday color
//dark shades of grey color
$grey-0: hsl(210, 20%, 10%);
$grey-1: hsl(210, 20%, 20%);
$grey-2: hsl(210, 20%, 30%);
$grey-3: hsl(210, 20%, 40%);
$grey-4: hsl(210, 20%, 50%); //The grey color
$grey-5: hsl(210, 20%, 60%);
$grey-6: hsl(210, 20%, 70%);
$grey-7: hsl(210, 20%, 80%);
$grey-8: hsl(210, 20%, 90%);
$grey-9: hsl(210, 20%, 95%);
//lighter shades of grey color

//misc colors
$white: #eee;
$black: #222;
$gold: #c59d5f;
$red-dark: hsl(0, 100%, 40%);
$red-light: hsl(360, 67%, 67%);
$green-dark: hsl(125, 75%, 40%);
$green-light: hsl(125, 67%, 75%);
